$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$stripe-height: 6px;
$red: #FF0000;
$orange: #FF8000;
$yellow: #FFFF00;
$green: #00FF00;
$blue: #0000FF;
$turquoise: darken(#00FFFF, 5%);
$violet: #7F00FF;
$pink: #F5A9F2;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}
@mixin round-button($diameter){
    width: $diameter;
    min-width: $diameter;
    height: $diameter;
    min-height: $diameter;
    @include border-radius($diameter / 2);
}

@import 'sass-bootstrap/lib/bootstrap';


.container 
{
    background-color: #fff;
}

/* Space out content a bit */
html {
    height: 100%;
    min-height: 100%;
}

body {
    padding: 0px;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: lighten($pink, 10%);
}

#topBar 
{
    height: 12px;
    min-height: 12px;
    width: 100%;
    min-width: 100%;
    background-image: url('/images/rainbow-bg.jpg');
    background-repeat: repeat-x;
}

.red-stripe{
    height: $stripe-height;
    min-height: $stripe-height;
    background-color: $red;
    width: 16.66%;
}

.orange-stripe{
    height: $stripe-height;
    min-height: $stripe-height;   
    background-color: $orange;
    width: 16.66%;
}

.yellow-stripe{
    height: $stripe-height;
    min-height: $stripe-height;
    background-color: $yellow;
    width: 16.66%;
}

.green-stripe{
    height: $stripe-height;
    min-height: $stripe-height;
    background-color: $green;
    width: 16.66%;
}

.blue-stripe {
    height: $stripe-height;
    min-height: $stripe-height;
    background-color: $blue;
    width: 16.66%;
}

.violet-stripe {
    height: $stripe-height;
    min-height: $stripe-height;
    background-color: $violet;
    width: 16.66%;
}


.chevronHeader {
    background-color: $pink;   
}
.chevronRow
{
    background-image: url('/images/chevron-16-1.jpg');
    background-repeat: repeat-x repeat-y;
    border-top: solid 3px #666;
    border-bottom: solid 3px #666;
}

header {

    h1 {
        //color:white;
        font-family: 'Lily Script One', cursive; 
    }
}

#mainNav {

    float: right;
    
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li { 
        display: inline-block; 
    }

    a {
        color: #666666;
        display: block;
        padding: 10px 20px 0px 20px;
        text-decoration: none;
        text-align: center;
        height: 100%;
        div {
            padding-top: 12px;
            @include round-button(50px);
            background-color: $turquoise;
        }

        i {
            color: #fff;
        }
    }
    a:hover{
        color: #333;
        background-color: lighten($pink, 10%);

        i {
            color: darken($pink, 10%);
        }
    }
    a.active {

        i {
            color: darken($pink, 10%);
        } 
    }
}

#subNavContainer{
    margin: auto;
    text-align: center;
}

#subNav {
    
    margin-top: 10px;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li { 
        display: inline-block; 
        margin-left: 10px;
    }

    a {
        color: #fff;
        display: block;
        text-decoration: none;
        text-align: center;
        height: 100%;
        padding:10px;
        background-color: $turquoise;
        @include border-radius(50px);
        div {
            padding-top: 12px;
            
            background-color: $turquoise;
        }
    }
    a:hover{
        color: darken($pink, 10%);
    }
    a.active {
        color: darken($pink, 10%);
    }
}

#mainContent {
    height: 100%;
    width: 100%;
    min-height: 100%;
}

.artWrap {
    text-align: center;
    vertical-align: center;
    width: 100%;
    padding: 40px 10px;

    img {
        border: solid 1px #666;
        -moz-box-shadow:    5px 5px 5px #666;
        -webkit-box-shadow: 5px 5px 5px #666;
        box-shadow:         5px 5px 5px #666;
    }
}

