<div id="topBar">
	
</div>
<header ng-controller="NavHeaderCtrl">
	<div class="container">
		<!--
		<div class="row">
			<div class="col-xs-2 red-stripe"></div>
			<div class="col-xs-2 orange-stripe"></div>
			<div class="col-xs-2 yellow-stripe"></div>
			<div class="col-xs-2 green-stripe"></div>
			<div class="col-xs-2 blue-stripe"></div>
			<div class="col-xs-2 violet-stripe"></div>
		</div>
	-->
		<div class="row">
			<div class="col-sm-6">
				<h1>Rainbow Land Bakery</h1>
			</div>
			<div class="col-sm-6">
				<nav id="mainNav">
					<ul>
						<li ng-repeat="s in sections">
							<a ng-href="#/{{s.path}}" ng-class="{active:s===currentSection}"> 
								<div>
									<i class="fa fa-2x {{s.iconClass}}"></i>
								</div>
								<h4>{{s.label}}</h4>
							</a>
						</li>
			
					</ul>
				</nav>
			</div>
		
		</div>
		<div class="row">
			<div class="col-xs-2 red-stripe"></div>
			<div class="col-xs-2 orange-stripe"></div>
			<div class="col-xs-2 yellow-stripe"></div>
			<div class="col-xs-2 green-stripe"></div>
			<div class="col-xs-2 blue-stripe"></div>
			<div class="col-xs-2 violet-stripe"></div>
		</div>
		<div class="row" ng-show="showSubMenu">
			<div class="col-xs-12">
				<div id="subNavContainer">
					<nav id="subNav">
						<ul>
							<li ng-repeat="c in subSections.categories">
								<a ng-href="#/{{currentSection.path}}/{{c}}" ng-class="{active:false}">
									<strong>{{c}}</strong>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>