<div class="header">
  
</div>

<div class="jumbotron">
  <h1>Avery's first website creation!</h1>
</div>
<div class="row chevronHeader">
  <div class="col-md-12">
    <h2>Recent Art</h2>
  </div>
</div>
<div class="row chevronRow">
  <div class="col-md-4">
    <div class="artWrap">
      <img src="http://images.artsonia.com/art/medium/28628942.jpg" border="0">
    </div>
  </div>
  <div class="col-md-4">
    <div class="artWrap">
      <img src="http://images.artsonia.com/art/medium/29101720.jpg" border="0">
    </div>
  </div>
  <div class="col-md-4">
    <div class="artWrap">
      <img src="http://images.artsonia.com/art/medium/28752372.jpg" border="0">
    </div>
  </div>
</div>